<div class="list-groups">
  {% for content in data[1] %}
    <div class="list-group col-md-3">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            <!-- Calculate colspan number for category title -->
            {% assign i = 1 %}
            {% for item in content.items %}
              {% assign i = i | plus: 1 %}
            {% endfor %}
            <h6 colspan="{{ i }}" class="list-group-name">
              {{ content.icon }}
              {{ content.language }}
            </h6>
          </tr>
          <td class="list-group-name">
            <b>{{ content.fluency }}</b>
          </td>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
